<div class="container">
  <section>
    <h3>
      Book-Play.ru – это онлайн-ресурс, где вы <b>бесплатно</b> можете
      <b>прослушать</b> порядка <b>500 тысяч книг</b>
    </h3>
    Книги озвученны нейронной сетью. Это обширная коллекция для всех — от
    классики до современности, сразу доступна в <b>удобном формате аудио</b>.
    Простая навигация и качественная озвучка — идеальный способ наслаждаться
    литературой в любом месте и в любое время.
  </section>

  <p>&nbsp;</p>
  @if (authorSummary().length > 1) {
  <h2>Случайные авторы дня:</h2>
  } @else if (authorSummary().length === 1) {
  <h2>Cлучайный автор дня:</h2>
  } @for (author of authorSummary(); track author.full) {
  <author-card [author]="author"></author-card>
  }

  <p>&nbsp;</p>
  @if (books().length > 1) {
  <h2>Случайные книги дня:</h2>
  } @else if (books().length === 1) {
  <h2>Случайная книга дня:</h2>
  } @for (book of books(); track book.id) {
  <book-card [book]="book"></book-card>
  }
</div>
