<div class="container" libPerfectScrollbar>
  @if (authorSummary().length > 1) {
  <h2>Случайные авторы дня:</h2>
  } @else if (authorSummary().length === 1) {
  <h2>Cлучайный автор дня:</h2>
  } @for (author of authorSummary(); track author.full) {
  <author-card [author]="author"></author-card>
  }

  <p>&nbsp;</p>
  @if (books().length > 1) {
  <h2>Случайные книги дня:</h2>
  } @else if (books().length === 1) {
  <h2>Случайная книга дня:</h2>
  } @for (book of books(); track book.id) {
  <book-card [book]="book"></book-card>
  }
</div>
