@use 'vars' as *;
@use 'mixins' as *;

.container {
  @include scrollable-container;

  & {
    padding: $default-padding 2 * $default-padding;
  }

  section {
    max-width: $card-width * 3;
    border: $default-border;
    padding: $default-padding * 2;
  }

  author-card,
  book-card {
    border: $default-border;
    margin-bottom: $default-padding;
  }
}
