@use 'vars' as *;

:host {
  display: block;
  width: 100%;
  height: 100%;

  .library-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2 * $default-padding;

    h1 {
      flex: 0 0;

      input {
        height: 100%;
        padding: 0 $default-padding;
        margin: 0 $default-padding;
      }
    }

    .authors-books-grid {
      flex: 1 0;
      display: grid;
      grid-gap: $default-padding * 1.5;
      grid-template-columns: repeat(auto-fit, minmax($card-width, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(min-content, 1fr));
      grid-auto-flow: dense;

      ::ng-deep {
        .virtual-spacer-before,
        .virtual-spacer-after {
          grid-column: 1 / -1;
        }
      }
    }
  }
}
