<ng-container>
  <mat-toolbar>
    <main-header (showMenu)="sidenav.open()"></main-header>
    <book-title></book-title>
  </mat-toolbar>
  <mat-progress-bar
    mode="indeterminate"
    [style.visibility]="loading() ? 'visible' : 'hidden'"
  ></mat-progress-bar>
  <mat-sidenav-container>
    <mat-sidenav
      #sidenav
      mode="over"
      libPerfectScrollbar
      [autoFocus]="false"
      (mouseleave)="sidenav.close()"
    >
      <main-menu></main-menu>
      <dark-mode-switcher></dark-mode-switcher>
      <copyright-owner></copyright-owner>
      <copyright></copyright>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
