// == Sizes ==
// - Paddings
$default-padding: 1rem;
$default-border-width: 1px;
// - Geometry
$default-border-radius: 10px;
$card-width: 250px;
$card-header-height: 50px;
$body-min-width: 500px;
$main-menu-width: 12rem;
$main-content-min-width: calc($body-min-width - $main-menu-width);
$header-height: 3.5rem;
// == Colors ==
$default-color: rgb(250 250 250 / 90%);
$default-highlight-color: rgb(200 200 200 / 25%);
// == Etc ==
$default-border: $default-border-width solid $default-highlight-color;
