@use 'vars' as *;
@use 'sass:color' as color;

:root {
  color-scheme: dark;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  color: $default-color;

  a:not(.underline, .mdc-list-item) {
    text-decoration: none;
    font-weight: normal;
    color: $default-color;

    &:hover {
      text-decoration: underline;
    }
  }

  * {
    box-sizing: border-box;
  }

  button {
    height: 36px !important;
  }

  body {
    min-width: $body-min-width;
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
  }
}

@font-face {
  font-family: Literata;
  src: url(/assets/fonts/LiterataBook.otf) format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: LiterataBold;
  src: url(/assets/fonts/LiterataBook-Bold.otf) format('opentype');
  font-weight: bold;
}
