@use 'vars' as *;

.voice-container {
  padding: 2 * $default-padding;

  textarea {
    width: 400px;
    max-width: 100%;
    height: 200px;
  }

  audio.preview {
    display: block;
    margin-bottom: 10px;
  }
}
