<div class="container" libPerfectScrollbar>
  <h5>
    Расширенный поиск
    <small
      ><a [routerLink]="['/books']" class="underline">обычный поиск</a></small
    >
  </h5>

  <form [formGroup]="form" (submit)="submit($event)">
    <section class="parameter-grid">
      <span>Рейтинг не ниже чем:</span>
      <input
        matInput
        min="0"
        max="10"
        step="0.5"
        type="number"
        placeholder="От 0 до 10"
        formControlName="rating"
        [value]="form.value.rating"
      />
      <lib-star-rating
        formControlName="rating"
        [rating]="form.value.rating"
        [showLabel]="false"
      ></lib-star-rating>
      <button mat-fab extended="true" color="success" type="submit">
        <mat-icon>search</mat-icon>
        Искать
      </button>
    </section>

    <details #genresContainer>
      <summary>Жанры</summary>
      <section libPerfectScrollbar class="genres-grid">
        @for (group of Object.keys(FB_GENRES_TRANSLATED_STRUCTURED); track
        group) { @if (isGenreGroup(FB_GENRES_TRANSLATED_STRUCTURED[group])) {
        {{ group }}
        <div class="group">
          @for (subGroup of Object.keys(FB_GENRES_TRANSLATED_STRUCTURED[group]);
          track subGroup) {
          {{ subGroup }}
          <div class="subgroup">
            <genre-input-group
              [formGroup]="form"
              [controlNames]="
                $any(FB_GENRES_TRANSLATED_STRUCTURED[group])[subGroup]
              "
            ></genre-input-group>
          </div>
          }
        </div>
        } @else {
        {{ group }}
        <div class="group">
          <genre-input-group
            [formGroup]="form"
            [controlNames]="$any(FB_GENRES_TRANSLATED_STRUCTURED[group])"
          ></genre-input-group>
        </div>
        } }
      </section>
    </details>

    <div class="action-panel">
      <button mat-fab extended="true" color="success" type="submit">
        <mat-icon>search</mat-icon>
        Искать
      </button>
    </div>
  </form>

  <div #searchResult class="search-result">
    @if (data()) { @if (data()!.length === 0) {
    <span>По вашему запросы книги не найдены</span>
    }
    <div libPerfectScrollbar class="grid books-grid">
      @for (item of data(); track item.id){
      <nav>
        <lib-tag-link [value]="item.id" linkPrefix="/book">
          {{ item.full }}
        </lib-tag-link>
      </nav>
      }
    </div>
    }
  </div>
  @if (error()) {
  <span>Ошибка: {{ error() | json }}</span>
  }
</div>
