@use 'vars' as *;
@use 'mixins' as *;

:host {
  .container {
    @include scrollable-container;

    & {
      padding: 2 * $default-padding;
      display: flex;
      flex-direction: column;
    }

    h5 {
      small {
        margin-left: $default-padding;
        font-size: 0.5em;
      }
    }

    form {
      display: block;

      > * {
        margin: $default-padding 0;
      }
    }

    section {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: $default-padding;
      margin: $default-padding 0;

      &.parameter-grid {
        max-width: 600px;
        display: flex;

        input {
          width: 100px;
        }
      }
    }

    .search-result {
      margin-top: $default-padding;
    }
  }
}
