@use 'vars' as *;
@use 'mixins' as *;

:host {
  .container {
    @include scrollable-container;

    padding: 2 * $default-padding;
    display: flex;
    flex-direction: column;

    .header {
      font-size: 1.5em;
    }

    h5 {
      small {
        margin-left: $default-padding;
        font-size: 0.5em;
      }
    }

    form {
      display: block;

      > * {
        margin: $default-padding 0;
      }
    }

    ::ng-deep mat-expansion-panel {
      width: 100%;

      &.mat-expanded {
        height: 400px;
      }

      mat-panel-title {
        flex: 0 1;
      }

      mat-panel-description {
        flex: 1 0;
        gap: $default-padding;

        ::ng-deep mat-chip {
          .mat-mdc-chip-action-label {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }
        }
      }

      .content {
        @include scrollable-container;

        position: absolute;
        top: 4 * $default-padding;
        height: calc(100% - 4 * $default-padding);
        display: flex;
        flex-direction: column;
        margin-left: $default-padding;
      }
    }

    section {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: $default-padding;
      margin: $default-padding 0;

      &.parameter-grid {
        max-width: 600px;
        display: flex;

        input {
          width: 100px;
        }
      }

      label {
        display: flex;
      }
    }

    .search-result {
      margin-top: $default-padding;
    }

    .grid {
      flex: 1 0;
      display: grid;
      grid-gap: $default-padding * 1.5;
      grid-template-columns: repeat(auto-fit, minmax($card-width * 2, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(min-content, 1fr));
      align-content: start;
      justify-content: start;
    }

    ::ng-deep .books-grid {
      @include scrollable-container;

      nav {
        mat-chip {
          .mdc-evolution-chip__cell {
            width: 100%;

            .mdc-evolution-chip__action {
              width: 100%;

              .mdc-evolution-chip__text-label {
                width: 100%;
              }
            }
          }
        }
      }

      .virtual-spacer {
        grid-column: 1 / -1;
      }
    }
  }
}
