<div class="container">
  <h5>
    Расширенный поиск
    <small>
      <a [routerLink]="['/books']" class="underline">поиск по имени</a>
    </small>
  </h5>

  <form [formGroup]="form" (submit)="submit()">
    <section class="parameter-grid">
      <span>Рейтинг не ниже чем:</span>
      <input
        matInput
        min="0"
        max="10"
        step="0.5"
        type="number"
        placeholder="От 0 до 10"
        formControlName="rating"
        [value]="form.value.rating"
      />
      <lib-star-rating
        formControlName="rating"
        [rating]="form.value.rating"
        [showLabel]="false"
      ></lib-star-rating>
      <button mat-fab extended="true" color="success" type="submit">
        <mat-icon>search</mat-icon>
        Искать
      </button>
    </section>
    <genres-filter-control [form]="genresGroup"></genres-filter-control>
    <div class="action-panel">
      <button mat-fab extended="true" color="success" type="submit">
        <mat-icon>search</mat-icon>
        Искать
      </button>
    </div>
  </form>
  <div class="search-result">
    <lib-books-list [data]="data.value"></lib-books-list>
  </div>
  @if (data.error()) {
  <span>Ошибка: {{ data.error() | json }}</span>
  }
</div>
