<div class="container">
  @for (group of Object.keys(FB_GENRES_TRANSLATED_STRUCTURED); track group) {
  @if (isGenreGroup(FB_GENRES_TRANSLATED_STRUCTURED[group])) {
  <genre-input-group
    [name]="group"
    [form]="form()"
    [controlNames]="$any(FB_GENRES_TRANSLATED_STRUCTURED[group])"
  >
    @for (subGroup of Object.keys(FB_GENRES_TRANSLATED_STRUCTURED[group]); track
    subGroup) {
    <genre-input-group
      [name]="subGroup"
      [subgroup]="true"
      [form]="form()"
      [controlNames]="$any(FB_GENRES_TRANSLATED_STRUCTURED[group])[subGroup]"
    ></genre-input-group>
    }
  </genre-input-group>
  } @else {
  <genre-input-group
    [form]="form()"
    [controlNames]="$any(FB_GENRES_TRANSLATED_STRUCTURED[group])"
    [name]="group"
  ></genre-input-group>
  } }
</div>
