@use 'vars' as *;
@use 'mixins' as *;
@use '@angular/material' as mat;

::ng-deep .cdk-global-overlay-wrapper {
  mat-toolbar {
    .timepicker-period {
      display: none;
    }
  }
}

.container {
  @include scrollable-container;

  & {
    padding: $default-padding * 2;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $default-padding;
    width: min-content;
    max-width: $body-min-width;

    h3 {
      margin: 0;
    }

    button {
      grid-column-start: 2;
      max-width: 50%;
      padding: 0 $default-padding * 2;
    }

    fieldset {
      width: 100%;
      padding: 3px $default-padding;
      display: grid;
      grid-template-columns: minmax(20%, 1fr) auto minmax(20%, 1fr);
      border-radius: $default-border-radius;
      align-items: center;
      grid-gap: $default-padding;

      &.timer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ngx-mat-timepicker-field {
          margin: 0 auto;
        }

        ::ng-deep {
          .mdc-line-ripple {
            display: none;
          }

          .mat-mdc-form-field-icon-suffix {
            svg {
              path:last-child {
                fill: var(
                  --mat-sidenav-content-text-color,
                  var(--mat-sys-on-background)
                );
              }
            }
          }

          .mdc-text-field--filled {
            background-color: transparent;
          }

          .mat-mdc-form-field-subscript-wrapper {
            display: none;
          }
        }
      }

      &.readerViewSettings {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    ::ng-deep {
      .mdc-slider:not(.mdc-slider--disabled):hover
        .mdc-slider__value-indicator {
        transform: scale(1);
      }

      .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        line-height: normal;
      }

      .mat-pseudo-checkbox {
        vertical-align: unset;
      }
    }
  }
}
