<div class="container" libPerfectScrollbar>
  <h1>Настройки</h1>
  <form [formGroup]="form">
    <h3>Голос</h3>
    <section>
      <mat-button-toggle-group formControlName="voice" aria-label="Тип голоса">
        <mat-button-toggle [value]="'female'">Женский</mat-button-toggle>
        <mat-button-toggle [value]="'male'">Мужской</mat-button-toggle>
      </mat-button-toggle-group>
    </section>

    <h3>Скорость</h3>
    <fieldset>
      <span>Медленно</span>
      <mat-slider
        discrete
        [min]="-SETTINGS_VOICE_RATE_DELTA"
        [max]="SETTINGS_VOICE_RATE_DELTA"
        step="1"
        color="accent"
        (wheel)="mouseWheel('rate', $event)"
      >
        <input matSliderThumb formControlName="rate" />
      </mat-slider>
      <span>Быстро</span>
    </fieldset>

    <h3>Тональность</h3>
    <fieldset>
      <span>Низкая</span>
      <mat-slider
        discrete
        [min]="-SETTINGS_VOICE_PITCH_DELTA"
        [max]="SETTINGS_VOICE_PITCH_DELTA"
        step="1"
        color="accent"
        (wheel)="mouseWheel('pitch', $event)"
      >
        <input matSliderThumb formControlName="pitch" />
      </mat-slider>
      <span>Высокая</span>
    </fieldset>
  </form>
</div>
