@use 'vars' as *;

.welcome-container {
  display: block;
  padding: $default-padding 2 * $default-padding;

  section {
    max-width: 700px;

    p {
      margin-bottom: $default-padding;
    }
  }

  ::ng-deep mat-chip {
    a {
      text-decoration: none;
      color: $default-color;
      font-weight: normal;
      padding: 0 $default-padding;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  book {
    border: $default-border;
    border-radius: $default-border-radius;
    margin-bottom: $default-padding;
  }
}
