<div class="container" libPerfectScrollbar>
  <section>
    <p>
      <b>BOOK-PLAY.RU</b> - платформа для прослушивания книг, озвученных
      нейросетью.
    </p>
  </section>
  <h2>{{ environment.RANDOM_AUTHORS_COUNT }} случайных авторов дня:</h2>
  <mat-chip-set aria-label="Авторы">
    @for (author of authors(); track author.full) {
    <lib-tag-link [value]="author.id" linkPrefix="/author">{{
      author.full
    }}</lib-tag-link>
    }
  </mat-chip-set>

  <p>&nbsp;</p>
  <h2>{{ environment.RANDOM_BOOKS_COUNT }} случайных книги дня:</h2>
  @for (book of books(); track book.id) {
  <book [book]="book"></book>
  }
</div>
