<div class="welcome-container">
  <section>
    <p>
      <b>BOOK-PLAY.RU</b> - платформа для прослушивания книг, озвученных
      нейросетью.
    </p>

    <p>
      Удобный сервис для тех, кто ценит время: выбирайте книги и слушайте их в
      автоматическом исполнении.
    </p>
    <p>Наслаждайтесь любимыми произведениями в любом месте!</p>
  </section>

  <p>&nbsp;</p>
  <h2>3 случайных авторов дня:</h2>

  <mat-accordion>
    @for (author of authors.value(); track author.full) {
    <author-books [author]="author"></author-books>
    }
  </mat-accordion>

  <p>&nbsp;</p>
  <h2>3 случайных книги дня:</h2>
  @for (id of ids.value(); track id) {
  <book [id]="id"></book>
  }
</div>
