<div #container>
  @if (bookData !== null) {
  <div class="scrollable-canvas" libPerfectScrollbar cdkVirtualScrollingElement>
    <h1>
      <lib-link
        [enabled]="bookData.authorId"
        [libRouterLink]="['/author', bookData.authorId]"
        [title]="'Посмотреть описание автора'"
      >
        {{ bookData.author.full }}
      </lib-link>
      -
      <lib-link
        [enabled]="bookData.id"
        [libRouterLink]="['/book', bookData.id]"
        [title]="'Посмотреть описание книги'"
      >
        {{ bookData.name }}
      </lib-link>
    </h1>
    <section class="title-picture-container">
      <lib-link
        [enabled]="bookData.id"
        [libRouterLink]="['/book', bookData.id]"
        [title]="'Посмотреть описание книги'"
      >
        <img
          [src]="coverSrc()"
          [width]="BOOK_IMAGE_WIDTH"
          [height]="BOOK_IMAGE_HEIGHT"
          alt="Обложка книги"
          (error)="showDefaultCoverImage($event)"
        />
      </lib-link>
    </section>

    <cdk-virtual-scroll-viewport
      #scrollViewport
      autosize
      class="infinite-scroll-container"
    >
      <lib-height-calculate
        [resizable]="container"
        (done)="heightCalculated($event)"
      ></lib-height-calculate>
      <book-paragraph
        *cdkVirtualFor="
          let text of bookData.paragraphs;
          index as index;
          trackBy: trackByFn
        "
        [index]="toTextIndex(index)"
        [text]="text"
        (activated)="onParagraphClick(toTextIndex(index))"
        class="scroll-item"
      ></book-paragraph>
    </cdk-virtual-scroll-viewport>
  </div>
  }
</div>
