<div #container>
  @if (bookData !== null) {
  <div class="scrollable-canvas" libPerfectScrollbar cdkVirtualScrollingElement>
    <h1>{{ bookData.author.full }} - {{ bookData.name }}</h1>
    <section class="title-picture-container">
      <img
        [src]="coverSrc()"
        [width]="BOOK_IMAGE_WIDTH"
        [height]="BOOK_IMAGE_HEIGHT"
        alt="Обложка книги"
        (error)="showDefaultCoverImage($event)"
      />
    </section>

    <cdk-virtual-scroll-viewport
      #scrollViewport
      autosize
      class="infinite-scroll-container"
    >
      <lib-height-calculate
        [resizable]="container"
        (done)="heightCalculated($event)"
      ></lib-height-calculate>
      <book-paragraph
        *cdkVirtualFor="
          let text of bookData.paragraphs;
          index as index;
          trackBy: trackByFn
        "
        [index]="getTextIndex(index)"
        [text]="text"
        (activated)="onParagraphClick(getTextIndex(index))"
        class="scroll-item"
      ></book-paragraph>
    </cdk-virtual-scroll-viewport>
  </div>
  }
</div>
