<ng-container>
  <button
    mat-fab
    extended
    class="menu"
    matTooltip="Показать/спрятать главное меню"
    matTooltipPosition="below"
    matTooltipShowDelay="1500"
    (click)="showMenu.emit()"
  >
    <mat-icon>menu</mat-icon>
    Меню
  </button>
  @if (playerIsActive()) {
  <player-button></player-button>
  } @else {
  <a href="/"><img alt="Book-play.ru" /></a>
  <span
    class="title"
    title="платформа для прослушивания книг, озвученных нейросетью"
  >
    - платформа для прослушивания книг, озвученных нейросетью.</span
  >
  }
</ng-container>
