<div *ngIf="book.value() as book">
  <section>
    <img
      [src]="coverSrc()"
      [width]="COVER_IMG_WIDTH"
      [height]="COVER_IMG_HEIGHT"
      priority
      alt="Обложка книги"
    />
  </section>
  <section>
    <h4>{{ book.author.fullName }}</h4>
    <h2>{{ book.name }}</h2>

    <mat-chip-set aria-label="Жанры">
      @for (genre of book.genres; track genre) {
      <mat-chip *ngIf="FB2_GENRES[genre]">{{ FB2_GENRES[genre] }}</mat-chip>
      } @if (book.date) {
      <span class="date">{{ book.date }}г.</span>
      }
    </mat-chip-set>

    <span class="annotation">{{ book.annotation }}</span>
    <div>
      <button
        mat-fab
        extended="true"
        color="success"
        matTooltip="Слушать"
        matTooltipPosition="below"
        matTooltipShowDelay="1500"
        (click)="playBook()"
      >
        <mat-icon>play_arrow</mat-icon>
        Слушать
      </button>
    </div>
  </section>
</div>
