<div *ngIf="book.value() as book">
  <img
    [src]="coverSrc()"
    [width]="BOOK_IMAGE_WIDTH"
    [height]="BOOK_IMAGE_HEIGHT"
    (error)="showDefaultCoverImage($event)"
    alt="Обложка книги"
  />
  <div class="content">
    <h4>{{ book.author.fullName }}</h4>
    <h2>{{ book.name }}</h2>

    <mat-chip-set aria-label="Жанры">
      @for (genre of book.genres; track genre) {
      <mat-chip *ngIf="FB2_GENRES[genre]">{{ FB2_GENRES[genre] }}</mat-chip>
      } @if (book.date) {
      <span class="date">{{ book.date }}г.</span>
      }
    </mat-chip-set>

    <span class="annotation">{{ book.annotation }}</span>

    <div class="action-panel">
      <button
        mat-fab
        extended="true"
        color="success"
        matTooltip="Слушать"
        matTooltipPosition="below"
        matTooltipShowDelay="1500"
        (click)="playBook()"
      >
        <mat-icon>play_arrow</mat-icon>
        Слушать
      </button>
    </div>
  </div>
</div>
