@use 'vars' as *;

:host > div {
  padding: $default-padding * 2;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, max-content));
  grid-gap: $default-padding;

  section:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: $default-padding;
    text-align: justify;

    button {
      border-radius: $default-border-radius;
    }
  }
}
