<div *ngIf="authorSummary.value() as author">
  @if (author.image) {
  <img [src]="author.image" (error)="hideImage($event)" alt="Обложка книги" />
  }
  <div class="content">
    <h3>{{ author.full }}</h3>

    <lib-author-genres-list [genres]="author.genres"> </lib-author-genres-list>

    <span class="annotation" [innerHTML]="author.about"></span>

    <div class="books">
      <h4>Произведения:</h4>
      @for (book of author.books; track book.name) {
      <div>
        <a [routerLink]="['/book', book.id]" class="underline">{{
          book.name
        }}</a>
      </div>
      }
    </div>
  </div>
</div>
