@use 'vars' as *;

:host {
  display: block;
  padding-left: $default-padding;
  max-width: $card-width * 3;

  & > div {
    display: block;
    margin: $default-padding 0;
    min-height: calc(300px + $default-padding * 2);
    padding: $default-padding;

    h4 {
      display: inline-block;
    }

    img {
      margin-right: $default-padding;
      margin-bottom: $default-padding;
      float: left;
    }

    .content {
      display: block;

      button {
        border-radius: $default-border-radius;
      }

      .annotation {
        display: inline-block;
        text-align: justify;
      }

      ::ng-deep lib-author-genres-list {
        mat-chip-set {
          margin-bottom: $default-padding;

          > div {
            align-items: center;
            row-gap: $default-padding;
            column-gap: calc($default-padding / 2);

            > span {
              padding: calc($default-padding / 2);
            }

            .book-rating {
              display: flex;
              justify-content: center;

              star-rating-control {
                display: flex;
              }
            }
          }
        }
      }

      .date {
        padding-left: calc($default-padding / 2);
      }

      .action-panel {
        display: block;
        margin-top: $default-padding;
      }
    }
  }
}
