@if (book(); as book) {
<div>
  <img
    [src]="coverSrc()"
    [width]="BOOK_IMAGE_WIDTH"
    [height]="BOOK_IMAGE_HEIGHT"
    (error)="showDefaultCoverImage($event)"
    alt="Обложка книги"
  />
  <div class="content">
    <h4>
      <a [routerLink]="['/author', book.author.id]">{{ book.author.full }}</a>
    </h4>
    <h2>
      {{ book.name }}
    </h2>
    <lib-author-genres-list [genres]="book.genres">
      @if (book.rating) {
      <span class="book-rating">
        <span>{{ book.rating }}</span>
        <star-rating-control
          [readOnly]="true"
          [staticColor]="'ok'"
          [starType]="'svg'"
          [rating]="book.rating / 2"
          [showHalfStars]="true"
        ></star-rating-control>
      </span>
      }
    </lib-author-genres-list>
    @if (book.date) {
    <span class="date">{{ book.date }}г.</span>
    }
    <span class="annotation" [innerHTML]="book.annotation"></span>
    <div class="action-panel">
      <button
        mat-fab
        extended="true"
        color="success"
        matTooltip="Слушать"
        matTooltipPosition="below"
        matTooltipShowDelay="1500"
        (click)="playBook()"
      >
        <mat-icon>play_arrow</mat-icon>
        Слушать
      </button>
    </div>
  </div>
</div>
}
