@use 'vars' as *;

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(212 213 206 / 0.85);
  font-family: 'Orbitron', sans-serif;
  padding: 0 $default-padding;
  width: 200px;
  color: black;
  border-radius: $default-border-radius;

  countdown {
    min-width: 90px;
  }

  .button {
    cursor: pointer;
  }
}
