<div class="container">
  <h1>Для правообладателей</h1>

  <section>
    Уважаемые правообладатели, Наш сайт предоставляет доступ к электронным
    книгам исключительно в
    <b>образовательных и ознакомительных целях</b>. Мы
    <b>не извлекаем коммерческую выгоду</b> из размещения контента и стремимся
    уважать авторские права.

    <p>
      Если ваше издание представлено на нашем сайте без вашего разрешения, и вы
      хотите его удалить, пожалуйста, свяжитесь с нами. Мы оперативно рассмотрим
      ваш запрос и удалим соответствующий материал в кратчайшие сроки.
    </p>

    <p>Для отправки запроса укажите:</p>

    <ul>
      <li>Название книги и имя автора</li>
      <li>Подтверждение ваших прав на данный контент</li>
      <li>Ссылку на страницу с книгой на нашем сайте</li>
    </ul>

    <p>Свяжитесь с нами по электронной почте: pikus-labs&#64;internet.ru</p>

    <p>Благодарим за понимание и сотрудничество!</p>
  </section>
</div>
