@use 'vars' as *;

.container {
  padding: 2 * $default-padding;

  section {
    display: inline-block;
    margin-top: $default-padding;
    text-align: justify;
    max-width: 700px;

    p {
      margin-top: 2 * $default-padding;
    }
  }
}
