<div class="container">
  <h5 loading [thenShow]="books">
    Поиск по имени
    <small>
      <a [routerLink]="['/advanced-search']" class="underline">
        расширенный поиск
      </a>
    </small>
    <form (submit)="submit($event)">
      <input
        [(ngModel)]="query"
        [ngModelOptions]="{ standalone: true }"
        placeholder="Название книги или имя автора"
      />
      <button mat-fab extended="true" color="success" type="submit">
        <mat-icon>search</mat-icon>
        Искать
      </button>
    </form>
    <span #loading></span>
  </h5>
  <ng-template #books>
    @if (data()) {
    <h5>Результаты поиска</h5>
    <div class="books-list">
      @for (item of data(); track item.id) {
      <a [routerLink]="['/book', item.id]" class="underline">{{ item.full }}</a>
      <lib-star-rating
        [readOnly]="true"
        [rating]="item.rating"
        [showLabel]="true"
      ></lib-star-rating>
      } @empty {
      <span>По Вашему запросу найти книги не удалось.</span>
      }
    </div>
    }
  </ng-template>
  @if (errors() && errors().length > 0) {
  <span>Ошибка: {{ errors().join(' ') }}</span>
  }
</div>
