<div class="container">
  <h5 loading [thenShow]="books">
    Поиск по имени
    <small>
      <a [routerLink]="['/advanced-search']" class="underline">
        расширенный поиск
      </a>
    </small>
    <br />
    <form (submit)="submit($event)">
      <input
        [(ngModel)]="query"
        [ngModelOptions]="{ standalone: true }"
        placeholder="Название книги или имя автора"
      />
      <button mat-fab extended="true" color="success" type="submit">
        <mat-icon>search</mat-icon>
        Искать
      </button>
    </form>
    <span #loading></span>
  </h5>
  <ng-template #books>
    @if (data()) { @if (data()!.length === 0) {
    <span>Книги не найдены</span>
    }
    <div class="books-grid">
      @for (item of data(); track item.id){
      <nav>
        <lib-tag-link [value]="item.id" linkPrefix="/book">{{
          item.full
        }}</lib-tag-link>
      </nav>
      }
    </div>
    }
  </ng-template>
  @if (errors() && errors().length > 0) {
  <span>Ошибка: {{ errors().join(' ') }}</span>
  }
</div>
