@use 'vars' as *;

::ng-deep mat-expansion-panel {
  width: 100%;
  background-color: $default-highlight-color !important;
  border-radius: $default-border-radius;

  mat-expansion-panel-header {
    .mat-expansion-indicator {
      height: 2em;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    a {
      display: block;
      line-height: 2rem;
      color: $default-color;
      text-decoration: none;
      font-size: small;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
