<button
  mat-mini-fab
  color="success"
  matTooltip="Играть"
  matTooltipPosition="below"
  matTooltipShowDelay="1500"
  [disabled]="(autoPlayService.stopped$ | async) === false"
  (click)="click($event, true)"
>
  <mat-icon>play_arrow</mat-icon>
</button>
<button
  mat-mini-fab
  color="success"
  matTooltip="Пауза"
  matTooltipPosition="below"
  matTooltipShowDelay="1500"
  [disabled]="autoPlayService.stopped$ | async"
  (click)="click($event, false)"
>
  <mat-icon>pause</mat-icon>
</button>
