@use 'vars' as *;
@use 'mat-theme' as *;
@use 'fonts' as *;
@use 'scrollbar' as *;
@use 'mat-customization' as *;
@use 'animations' as *;
@use 'sass:color' as color;

* {
  box-sizing: border-box;
}

body {
  min-width: $body-min-width;
  height: 100%;
  overflow: hidden;
}

.p {
  margin-bottom: $default-padding;
  margin-top: 0;
  padding: 0 calc(2 * $default-padding);
  display: block;
}

a:not(.underline, .mdc-list-item) {
  color: var(--mat-list-list-item-label-text-color, var(--mat-sys-on-surface));
  font-weight: normal;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a.underline {
  color: var(--mat-sys-primary);

  &:not([href]) {
    text-decoration: underline;
    cursor: pointer;
    pointer-events: all;
  }
}

button {
  height: 36px !important;
  border-radius: $default-border-radius !important;
}

.error {
  display: flex;
  align-items: center;
  margin: $default-padding 0;
  animation: appear-left-to-right 300ms;

  mat-icon {
    margin-right: calc($default-padding / 2);
    color: #f44336;
  }
}
