@use 'vars' as *;
@use 'sass:color' as color;
@use '@angular/material' as mat;

$theme: mat.define-theme(
  (
    typography: (
      plain-family: Roboto,
      brand-family: Roboto,
      bold-weight: 900,
      medium-weight: 400,
      regular-weight: 400,
    ),
    density: (
      scale: 0,
    ),
  )
);
$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
    ),
  )
);
$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$azure-palette,
    ),
  )
);
$typography-config: mat.m2-define-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif',
  $body-1: mat.m2-define-typography-level(14px, 20px, 400),
);
body {
  @include mat.all-component-themes($theme);
  @include mat.typography-hierarchy($typography-config);
}
body.light {
  @include mat.all-component-colors($light-theme);
}

body.dark {
  @include mat.all-component-colors($dark-theme);
}

html,
body {
  @include mat.core();
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  a:not(.underline, .mdc-list-item) {
    color: var(
      --mdc-list-list-item-label-text-color,
      var(--mat-sys-on-surface)
    );
    font-weight: normal;
  }

  mat-chip {
    .mdc-evolution-chip__cell {
      display: flex;
      width: 100%;

      .mdc-evolution-chip__action {
        width: calc(100% - $default-padding) !important;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          display: inherit;
          width: inherit;
          overflow: hidden !important;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }

  * {
    box-sizing: border-box;
  }

  button {
    height: 36px !important;
  }

  body {
    min-width: $body-min-width;
    height: 100%;
    overflow: hidden;
  }
}

@font-face {
  font-family: Literata;
  src: url(/assets/fonts/LiterataBook.otf) format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: LiterataBold;
  src: url(/assets/fonts/LiterataBook-Bold.otf) format('opentype');
  font-weight: bold;
}

// Perfect scrollbar customization
.ps {
  .ps__rail-y,
  .ps__rail-x {
    &:hover,
    &:focus,
    &.ps--clicking {
      background-color: color.change($default-color-dark, $alpha: 0.1);
    }

    .ps__thumb-y,
    .ps__thumb-x {
      background-color: color.change($default-color-dark, $alpha: 0.8);
    }
    .ps__thumb-y {
      background-color: color.change($default-color-dark, $alpha: 0.8);
      width: 11px;
    }
    .ps__thumb-x {
      background-color: color.change($default-color-dark, $alpha: 0.8);
      height: 11px;
    }
  }
}
